target/
.idea/
.vscode/
*.iml
logs/
tmp/

.vscode/
*/target/
/target
**/target/
**/bin/
*/bin/
/bin/
/out/
/build/
.agent/
.agents/
/docs/
.vscode/
.expo/
.gradle/
rename_project.py
project-state.md



